@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-delius: "Delius Swash Caps", cursive;
  --font-open: "Open Sans", sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #fdfdff, #b0d4dd);
}
